body
{
	text-align: center;
	background-color: pink;
}

#submitButton
{
	margin-top: 20px; 
	margin-bottom: 20px; 
	background-color: black;
	color: antiquewhite;
}

#sortButton
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
	background-color: black;
	color: antiquewhite;
}

input
{
	margin: 10px;
	background-color: blueviolet;
	color:antiquewhite;
}

h3
{
	color: rgb(216, 21, 145);
}
